a {
  color: #006ebb;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #003F87;
  text-decoration: underline;
}

p:last-child {
  margin-bottom: 0;
}

form {
  line-height: 1;
}

input[type=text] {
  background: #f6f6f6;
  border: 3px solid #ccc;
  color: #555;
  font-size: 100%;
  padding: 1em;
  transition: box-shadow .2s;
}

input[type=text]:focus {
  background: #fff;
  box-shadow: 0 0 0 2px inset #00a6f7;
  color: #000;
}

textarea {
  border: 3px solid #ccc;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.5;
  margin: 0 0 1em 0;
  padding: .5em;
  resize: vertical;
}

button {
  background: #003F87;
  border: 3px solid #003F87;
  color: #fff;
  line-height: 1;
  padding: 1em 1.5em;
  transition: background .2s, border .2s, color .2s;
  text-decoration: none;
}

button:focus {
  background: #fff;
  border-color: #003F87;
  box-shadow: 0 0 0 2px inset #00a6f7;
  color: #003F87;
  text-decoration: none;
}

button:hover {
  background: #fff;
  border-color: #007AC8;
  color: #007AC8;
  text-decoration: none;
}

button:active {
  background: #002F5E;
  border-color: #002F5E;
  box-shadow: none;
  color: #fff;
}
