.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  line-height: 1.5;
  margin: 100px auto;
  max-width: 1200px;
  padding: 0 2.5em;
  width: 100%;
}
