@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Fira+Sans:300,300i,400,400i,600,700,900');

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
}

.material-icons {
  vertical-align: middle;
}
