.contentWrapper {
}

.contentTitle {
  font-size: 250%;
}

.contentBody {
  margin-bottom: 1em;
}

.contentDate {
  margin-bottom: 1em;
}

.contentUrl {
  margin-bottom: 1em;
}

.contentLabel {
  font-weight: bold;
  padding-right: 1ex;
}
