.header {
  background: #003F87;
  width: 100%;
}

.headerText {
  padding: 1em;
  font-weight: normal;
  margin: 0;
}

.headerLink {
  color: #fff;
  text-decoration: none;
}

.headerLink:hover,
.headerLink:focus {
  color: #41B6FF;
}
