.item {
  background: #fafafa;
  border: 1px solid #efefef;
  border-left-width: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 0 1em 0;
  padding: 1.5em;
}

.itemTitleLink {
  font-size: 150%;
}

.itemExcerpt {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex-grow: 1;
  margin-bottom: 1em;
}

.itemExcerpt:last-child {
  margin-bottom: 0;
}

.itemTagSection {
  display: flex;
  border-top: 1px solid #ccc;
  flex-basis: 25%;
  padding: 1em 0 0 0;
}
