.loginContainer {
  border: 3px solid #003F87;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em;
  min-width: 300px;
  width: 15%;
  height: 350px;
  margin: 0 auto;
}

.loginLink {
  background: #003F87;
  border: 3px solid #003F87;
  color: #fff;
  display: block;
  padding: 1em;
  text-decoration: none;
  transition: background .2s, border .2s, color .2s;
}

.loginLink:focus {
  background: #fff;
  border-color: #003F87;
  color: #003F87;
  text-decoration: none;
}

.loginLink:hover {
  background: #fff;
  border-color: #007AC8;
  color: #007AC8;
  text-decoration: none;
}

.loginLink:active {
  background: #002F5E;
  border-color: #002F5E;
  color: #fff;
}
