.pagerWrapper {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.pagerItem {
}

.pagerPlaceholder {
}

.pagerLink {
  color: #fff;
  background: #003f87;
  border: 3px solid #003f87;
  display: block;
  padding: .5em 1em;
}

.pagerLink:focus {
  background: #fff;
  box-shadow: 0 0 0 2px inset #00a6f7;
  text-decoration: none;
}

.pagerLink:hover {
  background: #fff;
  border-color: #007ac8;
  color: #007ac8;
  text-decoration: none;
}

.pagerLink:active {
  background: #002f5e;
  border-color: #002f5e;
  box-shadow: none;
  color: #fff;
}

.pagerBack .pagerLink {
  padding-left: .5em;
}

.pagerForward .pagerLink {
  padding-right: .5em;
}
