.searchWrapper {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.searchForm {
  display: flex;
}

.searchInput {
  width: 30em;
}

.searchSubmit {
  height: 57px;
  width: 57px;
  padding: 0;
}

.searchIcon {
  font-size: 28px;
  line-height: 1;
}
